################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Game/Game/obj
/Game/Game/bin/Debug/net6.0
/.vs
/Game/.vs
